body,
html{
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed ;
  background-size: cover;
}

h1{
	color: #bdb9b7;
    font-size: 3rem;
    padding: 200px 0px 0px 0px
   
    
}

section hr{
	background-color: red;
	max-width: 60px

}
	
.btn-primary{
	background-color: green;
	border-radius: 30px;
	padding: 15px 20px ;
	border: green;
	box-shadow: 15px solid gray ;   	
}
.btn-primary:hover{
	background-color: green;
	transform: scale(1.1);
	}


